<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a>
      </li>
      <li><a href="#">HTML</a>
      </li>
      <li><a href="#">Javascript</a>
      </li>
      <li><a href="#">Ruby</a>
      </li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" alt="logo" class="logo">

  <nav class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li> 
      <li>
        <i class="far fa-paper-plane"></i>
        <a class="paper" href="#"><button>Today’s Paper</button></a>
      </li>
      <li>
        <i class="fas fa-camera-retro"></i>
        <a class="video" href="#"><button>Video</button></a>
      </li>
      <li><button>77°F</button></li>
      <li><button>AAO <strong>+100%</strong></button></li>
    </ul>
  </nav>
</header>